.wrapper{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(02COOKING_PORKCHOPS1-articleLarge.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.tieu-de h1{
    position: absolute;
    color: #fff;
    width: 1140px;
    top :50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
}
.mon-moi-content{
    height: 80%;
    width: 80%;
    margin: auto;
    padding: auto;
    
}
.mon-moi-content h3 {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 3px solid black;
}